<form action="/action_page.php" class="col-md-9">
    <div class="form-group">
      <label for="MoodSelect">I'm feeling </label>
      <select class="form-control" id="exampleSelect1">
        <option>Happy</option>
        <option>Grateful</option>
        <option>Inspired</option>
        <option>Proud</option>
        <option>Funny</option>
        <option>Pleasant</option>
        <option>Joyful</option>
      </select>
    </div>
  <div class="form-group">
    <label for="comment">Save your Moment !</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
  