<form class="col-md-5" (ngSubmit)="onSubmit(signupform)" #signupform="ngForm">
    <p *ngIf="signupform.touched && !!this.authService.signUpErrorMessage " class="alert alert-warning"> {{ this.authService.signUpErrorMessage }} </p>
    <div class="form-group" >
      <label for="username">Username:</label>
      <input type="username" class="form-control" placeholder="Enter email" id="username" ngModel name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" id="pwd" ngModel name="password">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
  